# Puerto del servidor
PORT=3000

# Base de datos MySQL (Clever Cloud)
DB_HOST=b3ehoylez0wwlhvuad4s-mysql.services.clever-cloud.com
DB_USER=uxdjsyjzrb9m1cpn
DB_PASSWORD=aZETS61JtGBZdLz7jrMG
DB_NAME=b3ehoylez0wwlhvuad4s
DB_PORT=3306

# Clave secreta para JWT (debe coincidir con la del PHP)
JWT_SECRET=tu_clave_secreta_super_segura

# API Key de TomTom
TOMTOM_API_KEY=tu_api_key_de_tomtom
